* {
    box-sizing: border-box;
   
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100% !important;
    margin: auto !important;
    display: grid ;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

/* Float four columns side by side */


/* Remove extra left and right margins, due to padding in columns */

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
 margin-top: 20px;
 margin-bottom: 20px;
    text-align: center;
    background-color: #f1f1f1;

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {

    font-size: 23px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 3%;
}
